:root {
  --primary: rgb(221, 255, 0);
  --secondary: green;
  --light: #eee;
  --light-alt: gray;
  --dark: black;
  --dark-alt: #202b3e;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: var(--dark-alt);
  color: var(--light);
}
