.login {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
}
.loginTitle {
  font-size: 50px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  color: black;
}
.loginForm {
  margin-top: 20px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.loginForm .loginFormLabel {
  color: black;
}

.loginInput {
  padding: 10px;
  background-color: white;
  border: none;
  margin-bottom: 20px;
}

.registerButton,
.linkRegister {
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(21, 12, 12);
  border: none;
  color: white;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
}
.linkRegister:link,
.linkRegister:visited {
  text-decoration: none;
  color: white;
}

.registerButton:hover,
.linkRegister:hover {
  background: white;
  color: black;
}
.registerButton:active,
.linkRegister:active {
  transform: scale(0.98);
}
